<nav class="navbar navbar-expand-lg bg-body-tertiary py-3 sticky-top">
  <div class="container">

    <!--  Logo  -->

    <a class="navbar-brand fw-bold text-main" routerLink="/home">
      Shoply
    </a>

    <!--  Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!--  Navbar  -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!--  Links  -->
      <ul class="navbar-nav me-auto ms-lg-4">

        <li class="nav-item">
          <a class="nav-link nav-main-link" routerLink="/home" routerLinkActive="navbar-active">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-main-link" routerLink="/products" routerLinkActive="navbar-active">
            Products
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-main-link" routerLink="/categories" routerLinkActive="navbar-active">
            Categories
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-main-link" routerLink="/brands" routerLinkActive="navbar-active">
            Brands
          </a>
        </li>

      </ul>

      <!-- User actions like wishlist, cart and login -->
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

        <!-- Wishlist -->
        <li class="nav-item">
          <a class="nav-link nav-action" routerLink="/wishlist" routerLinkActive="action-active">

            <i class="fa-regular fa-heart"></i>

            <span>Wishlist</span>

            <!-- Number of wishlist items -->
            <!-- <span class="badge rounded-pill custom-badge">
              0
            </span> -->

          </a>
        </li>

        <!-- Cart -->
        <li class="nav-item">
          <a class="nav-link nav-action" routerLink="/cart">

            <i class="fa-solid fa-cart-shopping"></i>

            <span>Cart</span>

            <!-- Number of cart items -->
            @if(cartCount() > 0){
              <span class="badge rounded-pill custom-badge">
                {{ cartCount() }}
              </span>
            }

          </a>
        </li>

        <!-- Login Button -->
        <li class="nav-item ms-lg-2">
          <a class="btn btn-login" (click)="logout()">
            Logout
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>
